<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Student_Grade_Tracking.css" />
		<title>Grade Tracking</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="personal_info.html">Personal Details</a></li>
							<li><a href="Student_Report.html">Course Reports</a></li>
							<li><a href="grade_tracking.html">Grade Tracking</a></li>
							<li><a href="Transcript.html">Transcript</a></li>
							<li><a href="Attendence.html">Attendence</a></li>
							<li><a href="receipt.html">Fees Receipts</a></li>
							<li><a href="Feedback.html">Feedbacks</a></li>
							<li><a href="select_subj.html">Resources</a></li>
							<li><a href="Broadcast.html">Broadcasts</a></li>
							<li><a href="MainLander.html">Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="title">Grades</div>
			<div class="course-table">
				<table>
					<th>Subjects</th>
					<th>Credits Scored</th>
					<th>Total Credits</th>
					<tr></tr>
                    
                        <% var ObtainedMarks = 0 %>
                        <% var TotalMarks = 0 %>
                        <% var finalgot = 0 %>
                        <% var finalTotal = 0 %>
                        <% for (var i=0; i<StuSub.length; i++) { %>
                          <td><%= StuSub[i].course_Name.name %></td>
                          <% for (var i1=0; i1<FacSub.length; i1++) { %>

                            <% if(FacSub[i1].course_Name.id == StuSub[i].course_Name.id) {%>
                              <% ObtainedMarks += StuSub[i].midsem1 + StuSub[i].midsem2 + StuSub[i].endsem %>
                              <% TotalMarks += FacSub[i1].midsem1[2] + FacSub[i1].midsem2[2] + FacSub[i1].endsem[2] %>
                              <% finalgot += ObtainedMarks %>
                              <% finalTotal += TotalMarks %>
                            <%}%>
                          <%}%>
						  <td><%= ObtainedMarks %> </td>
                              <td><%= TotalMarks %></td>
                            <tr></tr>
						<% ObtainedMarks =0 %>
						<% TotalMarks = 0 %>
                        <% } %>

                      
					<td><b>Total</b></td>
					<td><b><%= finalgot %></b></td>
					<td><b><%= finalTotal %></b></td>
					<tr></tr>
          <td colspan="3"><b>SPI: <%= (finalgot*10 / finalTotal).toFixed(2) %></b></td>
				</table>
			</div>
		</div>
	</body>
</html>
